<div class="container"> 
  <div class="row">
    <div class="col">
      <h1>Add a New Comment</h1>
    </div>
  </div>
</div>

<%@submit_text = "Add New Comment"%>
<%= render "form", comment: @comment %>