<div class="container"> 
  <div class="row">
    <div class="col">
      <h1> List of All Comments: </h1><br>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col mb-3">
      <%=form.comments @comments.comment %>
    </div>
  </div>
</div>
