<div class="container">
    <div class="row">
        <div class="col">
            <h1>Our Mission</h1>
            <br>
        </div>
    </div>
    <div class="col">
            <h3>Where we're from?</h3>
            <br>
            <p>Hailing from the great state of Tennessee we pride ourselves on home grown, freshly produced, hand made items. Living up in the mountains for so long has brought us great skill and taught us how to make a whole lot out of just a little. Our products are high quality and durable, we make sure of this.</p>
    </div>
    <div class="col">
            <h3>What we stand for?</h3>
            <br>
            <p>We love our land and we love our people. YOU are our people. Our organization was built on a foundation of unconditional love and infinite worthiness. We will go above and beyond for each of our customers to feel important to us.</p>
        </div>
    </div>
</div>