<div class="container"> 
  <div class="row">
    <div class="col">
            <h1>Your Shopping Cart:</h1>
        </div>
    </div>
  
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <ul>
        <div class="col">
        <% @cart.each do |product| %>
          <li><%= product %></li>
        <% end %>
      </div>
    </ul>
    </div>

    <div class="row">
      <div class="col">
        <%="Your total is: $#{sum} "%>
        <button class="btn-dark btn-sm" type="button"> <%= link_to "checkout", checkout_path %></button>
      </div>
    </div>
</div>