<h1>Products</h1>
<p>Find all products here.</p>

<ul>
  <% @products.each do |product| %>
    <li>
      <% = link_to product.title, product %>
        <%= product.title %>
      </a>
    </li>
  <% end %>
</ul>

<%= link_to "New Product", new_product_path %>
