<div class="container">
    <div class="row">
        <div class="col">
          <h1>Our Products!</h1> 
          <h2>Take a moment to browse. Don't forget to add things you like to your cart!</h2>
        </div>
    </div>
</div>
<ul>
  <% @products.each do |p| %><li>
    <%= link_to p.title, p %>
    <br>
    <%= image_tag(p.image, {:style => "width: 250px; height: 250px; object-fit: cover;"}) %>
<br>
    <div class="col" style="text-align: center">
      <button class="btn-dark btn-sm" type="button"><%= link_to "Buy", "/products/#{p.id}/buy"%></button>
    </div>
  </li><% end %>
</ul>



