<div class="container">
    <div class="row">
        <div class="col">
          <h1>Our Products! Take a moment to browse.</h1>
        </div>
    </div>


<ul>
  <% @products.each do |product| %>
    <li>
      <% = link_to product.title, product %>
        <%= product.title %>
      </a>
    </li>
  <% end %>
</ul>

<%= link_to "New Product", new_product_path %>
